//--------------------------------------------------------------
// Footer
//--------------------------------------------------------------
.site-footer {
	margin: rem(20) 0 0;
	text-align: center;

	@include media($tablet-landscape) {
		margin: 0;
	}
} // .site-footer
